<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HBS Actualizar</title>
</head>
<body>
    <div class="formulario">
        <h1>Vista de<br>Productos</h1>
        <div class="formProductos">
            {{#if listExists}}
            <table class="tabla">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
                <tr>{{#each suggestedChamps}}
                    <th>{{this.id}}</th>
                    <th>{{this.title}}</th>
                   <!-- <th><img class="tablaImagen" src="{{this.thumbnail}}" alt="Foto de producto"></th> -->
                </tr>
                {{/each}}
            </table>
            {{else}}
            <div class="formNoHayProductos">
                {{suggestedChamps.error}}
            </div>
            {{/if}}
        </div>
        <br>
        <div>
            <form method="get" action='http://localhost:8080/handlebars/actualizarTest'>
            <h1>Actualizar <br> Producto por ID</h1>
            <br>
            <h3>ID</h3>
            <input type="text" name='id' placeholder="id">
            <h3>Nombre</h3>
            <input type="text" name="title" placeholder="escriba aqui">
            <h3>Precio</h3>
            <input type="text" name="price">
            <h3>Foto URL</h3>
            <input type="text" name="thumbnail">
            <input class="formEnviar" type="submit" value="Enviar">
    </form>
        </div>
    </div>
<!--
    <form class="formulario" method="get" action='http://localhost:8080/handlebars/actualizarTest'>
        <h1>Actualizar <br> Producto por ID</h1>
        <h3>ID</h3>
        <input type="text" name='id' placeholder="id">
        <h3>Nombre</h3>
        <input type="text" name="title" placeholder="escriba aqui">
        <h3>Precio</h3>
        <input type="text" name="price">
        <h3>Foto URL</h3>
        <input type="text" name="thumbnail">
        <input class="formEnviar" type="submit" value="Enviar">
    </form>
-->
</body>
</html>