<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Handlebars</title>
</head>
<body>
    <div class="formulario">
        <h1>Vista de<br>Productos</h1>
        <div class="formProductos">
            {{#if listExists}}
            <table class="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto URL</th>
                </tr>
                <tr>{{#each suggestedChamps}}
                    <th>{{this.title}}</th>
                    <th>{{this.price}}</th>
                    <th><img class="tablaImagen" src="{{this.thumbnail}}" alt="Foto de producto"></th>
                </tr>
                {{/each}}
            </table>
            {{else}}
            <div class="formNoHayProductos">
                {{suggestedChamps.error}}
            </div>
            {{/if}}
        </div>
    </div>
</body>
</html>