<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS/Vista</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <% if (listExists) { %>
        <table class="tabla">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto URL</th>
            </tr>
            <% productos.forEach(function(prod) { %>
            <tr>
                <th><%= prod.title %></th>
                <th><%= prod.price %></th>
                <th><img class="tablaImagen" src="<%= prod.thumbnail %>" alt="Foto de producto"></th>
            </tr>
            <% }) %>
        </table>
        <% } else{ %>
        <div class="formNoHayProductos">
            <%= productos.error %>
        </div>
        <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>